main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin-top: -60px;
    width: auto;
}

main .left {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .left iframe {
    padding: 0 30px;
}

main .left h1 {
    color: var(--bran);
    font-size: 25px;
    width: 100%;
    padding: 15px 30px 0 30px;
}

main .left h3 {
    color: var(--bran);
    font-size: 16px;
    width: 100%;
    padding: 10px 60px;
}

main .left h3 a {
    color: var(--bran);
    text-decoration: none;
}

main .left h3 a i {
    font-size: 20px;
    margin-right: 5px;
}

main .left p {
    color: var(--bran);
    font-size: 16px;
    padding: 0 25px;
    text-align: justify;
}

main .right {
    margin: 60px 0 60px 0;
    background: var(--bran);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}


form {
    margin: 20px 30px;
}

form fieldset {
    border: 0;
}

form fieldset legend {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

form fieldset legend h2 {
    font-size: 24px;
}

form fieldset legend span {
    font-size: 14px;
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    flex: 1;
}

form .field-alone {
    display: flex;
}

form .field-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form input,
form select,
form textarea {
    background-color: #cccccc;
    border: 0;
    padding: 5px 24px;
    font-size: 14px;
    color: var(--cinz);
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form select:disabled {
    color: #aaa;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 100%;
    height: 56px;
    background-color: var(--azul);
    color: var(--bran);
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    border: 0;
    transition: background-color 400ms;
    cursor: pointer;
}

form button:hover {
    background-color: #364c99;
}
