main {
    background: url(../img/ups.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    height: 100vh;
    margin-top: -60px;
    width: auto;
}

main .left {
    margin: 150px 50px auto 50px;
}

main h1 {
    color: var(--bran);
    font-size: 36px;
    width: 550px;
    padding: 25px;
}

main p {
    color: var(--bran);
    font-size: 16px;
    width: 500px;
    padding: 0 25px;
    text-align: justify;
}