
@media (max-width: 900px) {
    .content header .botao {
        display: flex;
    }
    .content header .menu {
        display: none;
    }
    #page-index main {
        background: none;
    }
    #page-index main .left {
        margin: 100px 50px auto 50px;
    }
    #page-index main h1,
    #page-index main p {
        width: 100%;
        text-align: center;
    }
    #page-sobre main {
        grid-template-columns: 1fr;
        height: auto;
    }
    #page-sobre main .left {
        margin-bottom: 0;
    }
    #page-sobre main .right {
        margin-top: 0;
    }
    #page-solucoes main {
        grid-template-columns: 1fr;
        height: auto;
    }
    #page-solucoes main .left {
        margin-bottom: 0;
        min-height: 92vh;
    }
    #page-solucoes main .left .cards{
        grid-template-columns: 1fr;
    }
    #page-solucoes main .left .cards .card{
        height: 200px;
    }
    #page-solucoes main .left .cards .card img {
        height: 250px;
    }
    #page-solucoes main .right {
        margin-top: 0;
        padding-top: 30px;
    }
    #page-solucoes main .right .spec {
        margin-bottom: 10px;
    }
    #page-solucoes main .right p.tag {
        margin-bottom: 10px;
    }
    #page-solucoes main .right p {
        font-size: 10px;
    }
    #page-contato main {
        grid-template-columns: 1fr;
        height: auto;
    }
    #page-contato main .left {
        margin-bottom: 0;
        min-height: 92vh;
    }
    #page-contato main .left h1 {
        font-size: 20px;
    }
    #page-contato main .left iframe {
        margin: 30px 60px;
    }
    #page-contato main .right {
        margin-top: 0;
    }
    form .field-group {
        display: grid;
        grid-template-columns: 1fr;
    }
    form .field-group .field + .field {
        margin-left: 0;
    }
    #page-servicos main {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        padding: 80px 30px;
    }
    main .card {
        height: 275px;
    }
    #page-servicos main .card {
        height: auto;
    }
}