#modal {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom left, #2c3d81, #1665ce);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .contentmodal {
    color: var(--bran);
    
}

#modal .headermodal {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    position: absolute;
    top: 0;
    left: 0;
}

#modal .headermodal a {
    background-image: url(../img/x.svg);
    width:20px;
    height:20px;
    display: flex;
    font-size: 0.01px;
    margin: 15px 30px;
}

#modal .headermodal h1 {
    color: var(--bran);
    font-size: 36px;
    line-height: 42px;
}

#modal .menumodal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal .menumodal li {
    margin-top: 25px;
    list-style: none;
}

#modal .menumodal li a {
    display: block;
    color: var(--bran);
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
}