main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    margin-top: -60px;
    width: auto;
    padding: 80px 30px;
    gap: 30px;
}

main .card {
    background-color: var(--bran);
    display: flex;
    flex: 1;
}

main .card img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

main .card .cardtext {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}