main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin-top: -60px;
    width: auto;
}

main .left {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main .left .cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .left .cards .card {
    background: url("../img/sobre1.jpg");
    background-size: cover;
    background-position: center;
}

main .left .cards .card + .card {
    background: url("../img/sobre2.jpg");
    background-size: cover;
    background-position: center;
}

main .left .cards .card + .card +.card {
    background: url("../img/sobre3.jpg");
    background-size: cover;
    background-position: center;
}

main .left .cards .card + .card +.card +.card {
    background: url("../img/sobre4.jpg");
    background-size: cover;
    background-position: center;
}

main .right {
    margin: 60px 0 60px 0;
    background: var(--bran);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

main .right h1 {
    color: var(--azul);
    width: 100%;
    padding: 30px;
}

main .right p {
    color: var(--cinz);
    font-size: 16px;
    width: 100%;
    padding: 30px;
}