main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin-top: -60px;
    width: auto;
}

main .left {
    height: fit-content;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main .left .modelos {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

main .left .modelos li {
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 40px;
}

main .left .modelos li a {
    display: block;
    color: var(--bran);
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

main .left .modelos li a:hover {
    font-weight: 700;
}

main .left h1 {
    color: var(--bran);
    font-size: 25px;
    width: 100%;
    padding: 15px;
}

main .left p {
    color: var(--bran);
    font-size: 16px;
    width: 500px;
    padding: 0 25px;
    text-align: justify;
}

main .left img {
    height: 250px;
}

main .left .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .left .cards .card {
    display: flex;
    justify-content: flex-start;
}

main .left .cards .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

main .right {
    margin: 60px 0 60px 0;
    background: var(--bran);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

main .right h1 {
    color: var(--azul);
    font-size: 16px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

main .right .spec {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

main .right p {
    color: var(--cinz);
    font-size: 9px;
}

main .right p.tag {
    text-align: center;
    font-weight: 700;
}

main .right p + p {
    text-align: right;
}