:root {
    --azul: #2f3f87;
    --cinz: #121212;
    --bran: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

body {
    background: var(--bran);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans HK', sans-serif;
    color: var(--azul);
}

/*.content {
    background-image: linear-gradient(to bottom left, #2c3d81, #1665ce);
} */

.content {
    background: url(../img/sede.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.content header img {
    margin: 10px
}

.content header .menu {
    margin-right: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    list-style: none;
}

.content header .menu li a {
    display: block;
    color: var(--bran);
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.content header .menu li a:hover {
    font-weight: 700;
}

.content header .botao {
    display: none;
}

.content header .botao {
    background: url(../img/menu.png);
    width:20px;
    height:20px;
    font-size: 0.01px;
    margin: auto 30px;
}

.content footer {
    height: 60px;
    margin-top: -60px;
    display: flex;
    align-items: center;
}

.content footer span {
    margin: 30px;
    color: var(--bran);
    font-size: 14px;
}

.content footer a {
    color: var(--bran);
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}