{% extends "partials/layout.html" %}

{% set pageId = "page-contato" %}

    {% block title %}
    <title>Maximus UPS | Nobreaks, Baterias e Assistência Técnica</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="css/contato.css">
    <link rel="stylesheet" href="css/icons/icofont.min.css">
    {% endblock styles %}

    {% block content %}
            <main>
                <div class="left">
                <h1>O que podemos fazer por você?</h1>
                <h3><a href="tel:551124274481" target="_blank"><i class="icofont-phone-circle"></i> 011 2427 4481</a></h3>
                <h3><a href="https://wa.me/5511995972485" target="_blank"><i class="icofont-whatsapp"></i> Whatsapp</a></h3>
                <h3><a href="mailto:maximus@maximusups.com.br" target="_blank"><i class="icofont-email"></i> maximus@maximusups.com.br</a></h3>
                <h3><a href="https://instagram.com/mamtecnica" target="_blank"><i class="icofont-instagram"></i> Instagram</a></h3>
                <h3><i class="icofont-google-map"></i> Estrada dos Pires, Rio Abaixo | Atibaia - SP | CEP: 12952-720</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1835.5151323733974!2d-46.64164422819534!3d-23.05935199733675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjPCsDAzJzMzLjciUyA0NsKwMzgnMjYuNiJX!5e0!3m2!1spt-BR!2sbr!4v1592312225660!5m2!1spt-BR!2sbr" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="right"> 
                    <form action="/enviar" method="POST">
                        <fieldset>
                            <legend>
                                <h2>Entre em contato:</h2>
                            </legend>
                            <div class="field-alone">
                                <div class="field">
                                    <label for="name">Nome / Empresa</label>
                                    <input type="text" name="name" required>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field">
                                    <label for="phone">Telefone</label>
                                    <input type="text" name="phone" required>
                                </div>
                                <div class="field">
                                    <label for="email">E-mail</label>
                                    <input type="text" name="email" required>
                                </div>
                            </div>
                            <div class="field-group">
                                <div class="field">
                                    <label for="state">Estado</label>
                                    <select name="uf" required>
                                        <option value="">Selecione seu Estado</option>
                                    </select>
                                    <input type="hidden" name="state">
                                    <input type="hidden" name="cidade">
                                </div>
                                <div class="field">
                                    <label for="city">Cidade</label>
                                    <select name="city" disabled required>
                                        <option value="">Selecione sua Cidade</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field-alone">
                                <div class="field">
                                    <label for="msg">Mensagem</label>
                                    <textarea rows="4" name="msg" required></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit">Enviar mensagem</button>
                    </form>
                </div>
            </main>
    {% endblock content %}

    {% block bottom %}
    {% include "partials/modal.html" %}   
    <script src="js/modal.js"></script>
    <script src="js/contato.js"></script>
    {% endblock bottom %}