{% extends "partials/layout.html" %}

{% set pageId = "page-index" %}

    {% block title %}
    <title>Maximus UPS | Nobreaks, Baterias e Assistência Técnica</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="css/index.css">
    {% endblock styles %}

    {% block content %}
            <main>
                <div class="left">
                    <h1>Soluções em energia para você e sua empresa</h1>
                    <p>A MAM–Maximus tem soluções completas na área de energia segura, fornecendo nobreaks de 1kVA a 800kVA que garantem energia ininterrupta para o seu negócio.</p>
                </div>
            </main>
    {% endblock content %}

    {% block bottom %}
    {% include "partials/modal.html" %}   
    <script src="js/modal.js"></script>
    {% endblock bottom %}