{% extends "partials/layout.html" %}

{% set pageId = "page-servicos" %}

    {% block title %}
    <title>Maximus UPS | Nobreaks, Baterias e Assistência Técnica</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="css/servicos.css">
    {% endblock styles %}

    {% block content %}
            <main>
                <div class="card">
                    <img src="img/serv1.png" alt="Maximus UPS, Nobreaks, Assistência Técnica">
                    <div class="cardtext">
                        <h4>Assistência Técnica</h4>
                        <p>Reparos, manutenções, configurações e calibrações de sistemas nobreaks multimarcas.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/serv2.png" alt="Maximus UPS, Nobreaks, Peças, Venda, Reposição">
                    <div class="cardtext">
                        <h4>Venda de Peças</h4>
                        <p>Reposição de peças e acessórios para sistemas Nobreaks, baterias e gabinetes e gerenciamento de energia.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/serv3.png" alt="Maximus UPS, Nobreaks, Venda, Locação">
                    <div class="cardtext">
                        <h4>Venda e Locação</h4>
                        <p>Vendas de novos produtos conforme a necessidade do projeto ou locação de sistemas para atendimento emergenciais.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/serv4.png" alt="Maximus UPS, Instalações Elétricas">
                    <div class="cardtext">
                        <h4>Instalação Elétrica</h4>
                        <p>Confecção e adequação de circuitos e infraestrutura para receber os sistemas de nobreaks.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/serv5.png" alt="Maximus UPS, Quadros Elétricos">
                    <div class="cardtext">
                        <h4>Fornecimento de Quadros</h4>
                        <p>Projetos de quadro de paralelismo, bypass externo, sistema com dupla alimentação para nobreaks.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="img/serv6.png" alt="Maximus UPS, Nobreaks, Manutenção, Contrato">
                    <div class="cardtext">
                        <h4>Contratos de Manutenção</h4>
                        <p>Contratos de manutenção preditiva, preventiva e corretiva, com atendimento 24x7 e SLA ajustável.</p>
                    </div>
                </div>
            </main>
    {% endblock content %}

    {% block bottom %}
    {% include "partials/modal.html" %}   
    <script src="js/modal.js"></script>
    {% endblock bottom %}