{% extends "partials/layout.html" %}

{% set pageId = "page-sobre" %}

    {% block title %}
    <title>Maximus UPS | Nobreaks, Baterias e Assistência Técnica</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="css/sobre.css">
    {% endblock styles %}

    {% block content %}
            <main>
                <div class="left">
                    <div class="cards">
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                        <div class="card"></div>
                    </div>
                </div>
                <div class="right"> 
                <h1>Quem somos?</h1>
                <p>A MAM–Maximus é um grupo formado por profissionais com vasta experiência no mercado de energia segura. Somos fabricantes de sistemas nobreaks, atendendo os mais variados segmentos e demandas, além de assistência técnica multimarcas.<br><br>
                Temos soluções completas, com nobreaks entre 1kVA e 800 kVA, para fornecer energia ininterrupta para o seu negócio, além de baterias VRLA/AGM e estacionárias, contratos de manutenção e outsourcing.</p>
                </div>
            </main>
    {% endblock content %}

    {% block bottom %}
    {% include "partials/modal.html" %}   
    <script src="js/modal.js"></script>
    {% endblock bottom %}