{% extends "partials/layout.html" %}

{% set pageId = "page-solucoes" %}

    {% block title %}
    <title>Maximus UPS | Nobreaks, Baterias e Assistência Técnica</title>
    {% endblock title %}

    {% block styles %}
    <link rel="stylesheet" href="css/solucoes.css">
    {% endblock styles %}

    {% block content %}
            <main>
                <div class="left">
                    <ul class="modelos">
                            <li><a href="upsbasic">Max Basic</a></li>
                            <li><a href="upsplus">Max Plus</a></li>
                            <li><a href="upspower">Max Power</a></li>
                            <li><a href="upszeus">Zeus</a></li>
                        </ul>
                    <img src="{{ upsData.idupsim }}" alt="{{ upsData.idupsh1 }}">
                    <h1>{{ upsData.idupsh1 }}</h1>
                    <div class="cards">
                        <div class="card"><img src="{{ upsData.idupsi1 }}" alt="{{ upsData.idupsh1 }}"></div>
                        <div class="card"><img src="{{ upsData.idupsi2 }}" alt="{{ upsData.idupsh1 }}"></div>
                        <div class="card"><img src="{{ upsData.idupsi3 }}" alt="{{ upsData.idupsh1 }}"></div>
                    </div>
                </div>
                <div class="right"> 
                <h1>Especificações</h1>
                {% include "partials/specs.html" %}
                </div>
            </main>
    {% endblock content %}

    {% block bottom %}
    {% include "partials/modal.html" %}   
    <script src="js/modal.js"></script>
    {% endblock bottom %}