<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
     <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Sans+HK:wght@700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
    {% block styles %}
    {% endblock styles %}
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/mobile.css">
</head>
<body>
    <div id="{{ pageId }}">
        <div class="content">
                <header>
                    <img src="img/logow.svg" alt="Maximus UPS" width="200px">
                        <ul class="menu">
                            <li><a href="/">Início</a></li>
                            <li><a href="sobre">Sobre</a></li>
                            <li><a href="solucoes">Soluções</a></li>
                            <li><a href="servicos">Serviços</a></li>
                            <li><a href="contato">Contato</a></li>
                        </ul>
                        <a href="#" class="botao">Menu</a>
                </header>
    {% block content %}
    {% endblock content %}
            <footer>
                <span>Todos os direitos reservados - Designed by <a href="https://euwilliamgoncalves.github.io/" target="_blank"><b>wg()</b></a></span>
            </footer>
        </div>
    </div>
    {% block bottom %}
    {% endblock bottom %}
</body>
</html>