<div id="modal" class="hide">
    <div class="contentmodal">
        <div class="headermodal">
            <h1> </h1>
            <a href="#">Fechar</a>
        </div>
        <ul class="menumodal">
            <li><a href="/">Início</a></li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="solucoes">Soluções</a></li>
            <li><a href="servicos">Serviços</a></li>
            <li><a href="contato">Contato</a></li>
        </ul>
    </div>
</div>