    <p class="tag">ENTRADA</p>
    <div class="spec"><p>Tensão Nominal</p><p>{{ upsData.vnoment }}</p></div>
    <div class="spec"><p>Variação de Tensão</p><p>{{ upsData.varvent }}</p></div>
    <div class="spec"><p>Variação de Frequência</p><p>{{ upsData.varfent }}</p></div>
    <div class="spec"><p>Fator de potência na entrada</p><p>{{ upsData.fpotent }}</p></div>
    <div class="spec"><p>Conexão</p><p>{{ upsData.conexao }}</p></div>
    <p class="tag">SAÍDA</p>
    <div class="spec"><p>Tensão Nominal</p><p>{{ upsData.tnomsai }}</p></div>
    <div class="spec"><p>Variação de Tensão</p><p>{{ upsData.varvsai }}</p></div>
    <div class="spec"><p>Variação de Frequência</p><p>{{ upsData.varfsai }}</p></div>
    <div class="spec"><p>Tempo de Transferência</p><p>{{ upsData.trnssai }}</p></div>
    <div class="spec"><p>Fator de Potência</p><p>{{ upsData.fpotsai }}</p></div>
    <div class="spec"><p>Fator de Crista</p><p>{{ upsData.fcrssai }}</p></div>
    <div class="spec"><p>Forma de Onda</p><p>{{ upsData.fondsai }}</p></div>
    <div class="spec"><p>Conexão</p><p>{{ upsData.conxsai }}</p></div>
    <p class="tag">BATERIA</p>
    <div class="spec"><p>Baterias Internas</p><p>{{ upsData.bateria }}</p></div>
    <p class="tag">INDICADORES VISUAIS</p>
    <div class="spec"><p>Display LCD - Tensões Exibidas</p><p>{{ upsData.indvis1 }}</p></div>
    <div class="spec"><p>Display LCD - Demais Informações</p><p>{{ upsData.indvis2 }}</p></div>
    <div class="spec"><p>LEDs - Indicadores</p><p>{{ upsData.indvis3 }}</p></div>
    <p class="tag">OUTRAS CARACTERÍSTICAS</p>
    <div class="spec"><p>Proteções de sobrecarga</p><p>{{ upsData.psobrec }}</p></div>
    <div class="spec"><p>Dimensões(AxLxP)</p><p>{{ upsData.dimenso }}</p></div>
    <div class="spec"><p>Peso</p><p>{{ upsData.pesoeqp }}</p></div>
    <div class="spec"><p>Nível de Ruído</p><p>{{ upsData.nivruid }}</p></div>
    <div class="spec"><p>Temperatura de Operação</p><p>{{ upsData.tempope }}</p></div>
    <div class="spec"><p>Umidade do Ar</p><p>{{ upsData.umidade }}</p></div>